@charset "utf-8";

$color-main: #0FC3BE;
$color-white: #ffffff;
$color-border: #F0F0F0;
$color-text-gray: #6E6E6E;
$color-background: #F2F2F7;

@import 'reset.scss';
@import 'original.scss';
@import 'overwrite.scss';