@charset "utf-8";

//all
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: #F2F1F5;
}
.page-title {
  font-size: 2.8rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  #main-content {
    width: 76.8rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.2));
    filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.2));
  }
}

//home
.mv {
  
  &__img {
    width: 100%;
    vertical-align: top;
  }
  &__profile {
    width: 100%;
    margin-top: -3.2rem;
  }
  &__profile-wrap {
    padding: 0 1.6rem 1.6rem 1.6rem;
  }
  &__profile-inner {
    background-color: $color-white;
    padding: 1.6rem;
    border-radius: 0.8rem;
    -webkit-filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.2));
    filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.2));
  }
  .profile-title {
    margin: 0 0 0.8rem 0;
  }
}
.career {
  width: 100%;

  &__wrap {
      padding: 0 1.6rem 1.6rem 1.6rem;
    }
  &__inner {
    border-top: 0.1rem solid $color-border;
  }
  .career__title {
    margin: 1.6rem 0;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    margin-right: 0.8rem;
  }
  &__term {
    color: $color-text-gray;
  }
  &__position {
    margin-left: 0.8rem;
  }
}

//works
.works {
  padding: 1.6rem;

  &__list {
    list-style: none;
    margin-top: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 0.1rem solid $color-border;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__img {
    width: 100%;
    border-radius: 0.8rem;
    vertical-align: top;
  }
  .works__product {
    margin: 0.4rem 0rem;
  }
}
@media (min-width: 768px) {
  .works {
    padding: 3.2rem;
  
    &__list {
      margin-top: 3.2rem;
      padding-bottom: 3.2rem;
    }
  }
}
.works-child {
  padding: 4.8rem;

  &__text-wrap {
    text-align: center;
  }
  &__title {
    margin-bottom: 0.8rem;
  }
  &__year {
    color: $color-text-gray;
  }
  &__2column {

    img {
      margin-top: 4.8rem;
      -webkit-filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.2));
      filter: drop-shadow(0 0 0.6rem rgba(0,0,0,.2));
    }
  }
  &__2column-img {
    width: 100%;
    vertical-align: top;
  }
}
@media (min-width: 768px) {
  .works-child {
  
    &__2column {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      img {
        margin-top: 4.8rem;
      }
    }
    &__2column-img {
      width: 31.2rem;
    }
  }
}
//works
.other {
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .other {
    padding: 3.2rem;
  }
}